* {
  background-color: chartreuse;
}

.ashNazg {
  font-family: fantasy;
}

.intro {
  font-style: italic;
  color: #444;

}

.intro h2 {
  font-weight: 100;

}

.intro p {
  width: 50%;
  /** font-size: 14px; **/
}

.intro img {
  height: 200px;
  width: 50%;
}

img {
  width: 100%;
}

@media screen and (max-width: 480px) {
  img {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  body {
    color: yellow;
  }
}
